<div class="container">
    <h3>{{ instance.geonode_map_caption }}</h3>
    <iframe style="border: groove;" height="{{ instance.geonode_map_height }}" width="{{ instance.geonode_map_width }}%"
            src="{{ instance.geonode_server }}/maps/{{ instance.geonode_map_id }}/embed"></iframe>
    <div class="row">
        <a class="btn btn-info btn-space" href="{{ instance.geonode_server }}/maps/{{ instance.geonode_map_id }}/view" role="button" target="_blank">View Full Map</a>
        <a class="btn btn-info btn-space" href="{{ instance.geonode_server }}/maps/{{ instance.geonode_map_id }}" role="button" target="_blank">View Metadata</a>
    </div>
</div>